.todo-container {
  padding: 25px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.6s ease-out;
}

.todo-title {
  color: #646cff;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.todo-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.todo-input {
  height: 40px;
  width: 260px;
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: all 0.3s;
}

.todo-input:focus {
  border-color: #646cff;
  box-shadow: 0 0 8px rgba(100, 108, 255, 0.5);
  outline: none;
}

.todo-button {
  padding: 12px 20px;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 5px;
}

.todo-button:hover {
  background-color: #535bf2;
}

.delete-button {
  background-color: #ff6b6b;
}

.delete-button:hover {
  background-color: #ff4c4c;
}

.mark-button {
  background-color: #4caf50;
}

.mark-button:hover {
  background-color: #45a049;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: ease 0.3s all;
}

.todo-item:hover {
  transform: translateY(-5px);
  background-color: #5a6b72;
}

.done-text {
  text-decoration: line-through;
  color: #aaa;
}

.placeholder {
  color: #aaa;
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
}
